<!-- Navbar pills -->
<ul class="nav nav-pills">
  	<li role="presentation"><a href='principal'>Inicio</a></li>
  	<li role="presentation"><a href='<%=almuerzos_path=%>'>Almuerzos</a></li>
	<!-- Navbar pills Al lado derecho  -->
  	<ul class="nav nav-pills navbar-right">
		<li role="presentation"><a href="login">Iniciar sesion</a></li>
  		<li style="padding-right: 16px" role="presentation" class="active"><a href="registrarse">Registrarse</a></li>
	</ul>
</ul>