<div class="container">
	<div class="thumbnail">
		<h1>Editar Almuerzo</h1>
	</div>
</div>

<div class=" container">
	<div class="thumbnail">
		<%= render 'form' %>
	</div>	
</div>	

<div class=" container">
	<div class="thumbnail">
		<button type="button" class="btn">
			<%= link_to 'Show', @almuerzo %> |
			<%= link_to 'Volver', almuerzos_path %>
		</button>	
	</div>	
</div>	

