<div class=" container">
	<div class="thumbnail">
		<h1>Crear nuevo Almuerzo</h1>
	</div>	
</div>	

<div class=" container">
	<div class="thumbnail">
		<%= render 'form' %>
	</div>	
</div>	

<div class=" container">
	<div class="thumbnail">
		<%= link_to 'Volver', almuerzos_path %>
	</div>	
</div>	
